<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Bootstrapify by jmarchello</title>

    <!-- <link rel="stylesheet" href="{{ site.url }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/custom.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/pygment_trac.css"> -->
    <link rel="stylesheet" href="{{ "/stylesheets/styles.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/stylesheets/custom.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/stylesheets/pygment_trac.css" | prepend: site.baseurl }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Bootstrapify</h1>
        <p>A Ruby gem for painlessly importing Bootstrap Themes into the Rails Asset Pipeline</p>

        <!-- <p class="view"><a href="https://github.com/jmarchello/bootstrapify">View the Project on GitHub <small>jmarchello/bootstrapify</small></a></p> -->

        <!-- <h3><a href="/index.html">Home</a></h3> -->
        <div>
          {% if site.posts.size > 0 %}
            <ul class="post-list">
                <li><h2>Posts</h2></li>
              {% for post in site.posts %}
                <li class="post-link">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </header>

      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/jmarchello">jmarchello</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/javascripts/scale.fix.js" | prepend: site.baseurl }}"></script>

  </body>
</html>
